// app global css in SCSS form
.text-gemgreen { 
    color: $gemgreen !important; 
} 
.bg-gemgreen { 
    background: $gemgreen !important; 
}
.text-navyblue { 
    color: $navyblue !important; 
} 
.bg-navyblue { 
    background: $navyblue !important; 
}